{% extends "base.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block title %}Registro - GVA-WEB{% endblock %}

{% block content %}
<div id="register-container">
    <h1>Registre-se</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email2.label }}<br>
            {{ form.email2(size=32) }}<br>
            {% for error in form.email2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, id="password-field") }} <br>
            {% for error in form.password.errors %}
                <span class="error-message">{{ error }}</span>
            {% endfor %}
        </p>

        <div id="password-strength-rules-title">
            <p id="length" class="invalid">Pelo menos 8 caracteres</p>
            <p id="lowercase" class="invalid">Pelo menos uma letra minúscula</p>
            <p id="uppercase" class="invalid">Pelo menos uma letra MAIÚSCULA</p>
            <p id="number" class="invalid">Pelo menos um número</p>
            <p id="special" class="invalid">Pelo menos um caractere especial (!@#...)</p>
        </div>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {# LINHA CORRETA #}
            {{ recaptcha }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
    <p>Já tem uma conta? <a href="{{ url_for('auth.login') }}">Faça o login!</a></p>
</div>
{% endblock %}