{% extends "base.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block title %}Registro - GVA-WEB{% endblock %}

{% block content %}
<div id="register-container">
    <h1>Registre-se</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} 
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username() }}
            {% for error in form.username.errors %}
                <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email2.label }}<br>
            {{ form.email2(size=32) }}<br>
            {% for error in form.email2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, id="password-field") }} <br>
            {% for error in form.password.errors %}
                <span class="error-message">{{ error }}</span>
            {% endfor %}
        </p>

        <div id="password-strength-rules">
            <span id="password-strength-rules-title">A senha deve conter:</span>
            <p id="length" class="invalid">Pelo menos 8 caracteres</p>
            <p id="lowercase" class="invalid">Pelo menos uma letra minúscula</p>
            <p id="uppercase" class="invalid">Pelo menos uma letra MAIÚSCULA</p>
            <p id="number" class="invalid">Pelo menos um número</p>
            <p id="special" class="invalid">Pelo menos um caractere especial (!@#...)</p>
        </div>
        
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ recaptcha }}
        </p>
        <div class="form-group-terms" style="display: flex; align-items: center; gap: 0.5rem; margin-top: 1rem;">
            {{ form.accept_terms() }}
            <label for="accept_terms" style="margin: 0;">
                Eu li e aceito os 
                <a href="{{ url_for('main.terms') }}" target="_blank">Termos de Uso</a> e a 
                <a href="{{ url_for('main.security_policy') }}" target="_blank">Política de Segurança</a>.
            </label>
        </div>
        {% for error in form.accept_terms.errors %}
            <p><span class="error-message">{{ error }}</span></p>
        {% endfor %}

        <p>{{ form.submit() }}</p>
    </form>
    <p>Já tem uma conta? <a href="{{ url_for('auth.login') }}">Faça o login!</a></p>
</div>
{% endblock %}